.advancedStatsHeader{
    text-align: center;
    font-size: 18px;
    margin-bottom: 0.5rem;
    color: hsl(260, 8%, 14%);
    font-weight:700;
}

.advancedStatsDescription{
    text-align: center;
    color: hsl(257, 7%, 63%);
    font-size: 1rem;
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.5;
}

.advancedStatsList{
    position: relative;
    display: grid;
    margin-top: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    list-style:none;
    width:100%;
}

.advancedStatsList hr{
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    height: 8px;
    background-color: hsl(180, 66%, 49%);
    z-index: 0;
    border: none;
}

.advancedStatsList li:nth-child(1){
    grid-row: 1 / span 4;
}
.advancedStatsList li:nth-child(2){
    grid-row: 2 / span 4;
}
.advancedStatsList li:nth-child(3){
    grid-row: 3 / span 4;
}

.advancedStatsSection{
    background-color: hsl(225, 100%, 98%);
    padding: 5rem 0;
}
