


@media (max-width:480px){
    .historyURLContainer{
        display: grid;
        grid-template-rows: auto auto auto;
        align-items: center;
        background-color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        gap:1rem;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    }

    .historyURLContainer p{        
        max-width:100%;
        text-overflow:ellipsis;
        overflow:hidden;
    }

    .button{
        color: white;
        border: none;
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
        cursor: pointer;
    }

    .buttonClicked{
        background-color: var(--purple);
    }

    .generatedUrl{
        color: var(--blue);
        font-weight: bold;
        border-top:px solid grey;
        padding-top: 20px;
    }

}

@media (min-width:481px){
    @keyframes myAnimation{
    0% {
        opacity:0.2;
    }
    100% {
        opacity:1;
    }
}
    .historyURLContainer{
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        align-items: center;
        background-color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        gap:1rem;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
        
        animation-name:myAnimation;
        animation-duration:1s;
        animation-iteration-count:infinite;
        animation-timing-function:ease-in-out;
    }


    .historyURLContainer p{        
        width:100%;
        margin-left:10px;
        height:40px;
        margin:10px 0px;
        text-overflow:ellipsis;
        overflow:hidden;
        background-color:hsl(257, 7%, 63%);
        border-radius:5px;
    }
    
    .button{
        width:113px;
        height:40px;
        color: white;
        border: none;
        background-color:hsl(257, 7%, 63%);
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
        cursor: pointer;
    }



    .buttonClicked{
        background-color: var(--purple);
    }

    .generatedUrl{
        color: var(--blue);
        font-weight: bold;
    }

}